<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PREDICTION OUTPUT</title>
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='style.css')}}">

  </head>
  <body style="background-image: url('https://baku.ws/uploads/posts/2019-04/1556260515_fb93085c-b72c-4fa3-9d53-fc4472998f51.jpg');background-size: cover;">
    <div><div style="width:60%;float:left;height:20%;"><h1 class="header col s12 he light" style="color:white ;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Home Appliances Energy Consumption Prediction</h1></div>
<div style="width:35%;float:left;height:20%;text-align:right;margin-right: 5%;padding-top: 2%;">
      <a href="/homepage"><input type="button" style="border-radius:4px; height:40px; width:120px; font-family:verdana; font-size:13px; font-weight:bold; background-color:#3d075f; border-color:#3d075f; color:white"  value="Home"/></a>

    </div></div>
    
    
<br><br><br><br>
    <div class="center" style="margin-top:5%;text-align: center;">
      <label class="header col s12 he light" style="color:white ;">Power Usage for next hour is in KW </label>
      <b>{{ message }}</b>
    </div><br><br>
    <div class="center" style="margin-top:5%;text-align: center;">
      <label class="header col s12 he light" style="color:white ;">Dishwasher Sensor value is in KW </label>
      <b>{{ dishwasher }}</b>
    </div>
    <div class="center" style="margin-top:5%;text-align: center;">
      <label class="header col s12 he light" style="color:white ;">Home Office Sensor value is in KW </label>
      <b>{{ Home_Office }}</b>
    </div>
    <div class="center" style="margin-top:5%;text-align: center;">
      <label class="header col s12 he light" style="color:white ;">Fridge Appliance Sensor value is in KW </label>
      <b>{{ Fridge }}</b>
    </div>
    <div class="center" style="margin-top:5%;text-align: center;">
      <label class="header col s12 he light" style="color:white ;">Wine_Cellar Appliance Sensor value is in KW </label>
      <b>{{ Wine_Cellar }}</b>
    </div>
    <div class="center" style="margin-top:5%;text-align: center;">
      <label class="header col s12 he light" style="color:white ;">Garage_Door Appliance Sensor value is in KW </label>
      <b>{{ Garage_Door }}</b>
    </div><
    <div class="center" style="margin-top:5%;text-align: center;">
      <label class="header col s12 he light" style="color:white ;">Barn Appliance Sensor value is in KW </label>
      <b>{{ Barn }}</b>
    </div>
    <div class="center" style="margin-top:5%;text-align: center;">
      <label class="header col s12 he light" style="color:white ;">Well Appliance Sensor value is in KW </label>
      <b>{{ Well }}</b>
    </div>
    <div class="center" style="margin-top:5%;text-align: center;">
      <label class="header col s12 he light" style="color:white ;">Microwave Appliance Sensor value is in KW </label>
      <b>{{ Microwave }}</b>
    </div>
    <div class="center" style="margin-top:5%;text-align: center;">
      <label class="header col s12 he light" style="color:white ;">Living_room Appliance Sensor value is in KW </label>
      <b>{{ Living_room }}</b>
    </div>
    <div class="center" style="margin-top:5%;text-align: center;">
      <label class="header col s12 he light" style="color:white ;">Solar Appliance Sensor value is in KW </label>
      <b>{{ Solar }}</b>
    </div>
    <div class="center" style="margin-top:5%;text-align: center;">
      <label class="header col s12 he light" style="color:white ;">Total_Furance Appliance Sensor value is in KW </label>
      <b>{{ Total_Furance }}</b>
    </div>
    <div class="center" style="margin-top:5%;text-align: center;">
      <label class="header col s12 he light" style="color:white ;">Avg_Kitchen Appliance Sensor value is in KW </label>
      <b>{{ Avg_Kitchen }}</b>
    </div><br>
    
  </body>
</html>
